pj.ryansheppard.xyz {
    @django path /api /api/* /accounts /accounts/* /admin /admin/* /static /static/*
    handle @django {
        reverse_proxy backend:8000
    }
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
