pj.ryansheppard.xyz {
    @django path /api /api/* /accounts /accounts/* /admin /admin/* /static /static/*
    handle @django {
        reverse_proxy 127.0.0.1:8000
    }
    handle {
        forward_auth 127.0.0.1:8000 {
            uri /auth/frontend/
        }
        root * /opt/pollingjuegos/frontend/dist
        try_files {path} /index.html
        file_server
    }
}
